# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
debug.log

# cypress
/cypress/screenshots
/cypress/videos
/cypress/report

# test-config files
